
<div class="hero-unit">
  <h1><%= link_to image_tag("ifeelfacebook.png"), root_path %></h1>
  <div class="center">
    <fb:login-button size="xlarge" length="long" onlogin="location.href = '<%= facebook_path %>'" scope="<%= Facebook.config[:scope] %>"></fb:login-button>
    <span class="or">or</span>
    <%= link_to image_tag("facebook.png"), new_facebook_path %>
  </div>
  <h2><a href="https://github.com/patrickDura/ifeelfb" target="_blanck">Source Code on Github</a></h2>
</div>
